.container-fluid
  div(ng-include="'components/navbar/navbar.html'")
  .row
    .col-sm-5
      .header
        h2 Library
        .action add
      div(ng-include="'components/filter/filter.html'")

    .col-sm-2
      // todo - image for draggables goes here?

    .col-sm-5
      .header
        h2 Set
        .action new
        .action load