.container-fluid
  padding-left: 28px
  padding-right: 28px

h1
  font-family: 'HelveticaNeue-Light'
  letter-spacing: 2px
  color: $white
  font-size: 21px

h2
  font-family: 'HelveticaNeue-Light'
  letter-spacing: 2px
  color: $faded
  font-size: 21px
  margin-top: 0px

.header
  padding-top: 16px
  padding-bottom: 14px
  // margin-bottom: 15px
  border-bottom: 1px solid rgba(235,240,241,0.34)

  h2
    vertical-align: bottom
    display: inline

  .action
    vertical-align: bottom
    display: inline
    float: right
    color: $faded
    font-family: 'HelveticaNeue-Light'
    font-size: 16px
    margin-left: 20px
    &:hover
      cursor: pointer
      color: $white

.item
  font-size: 16px
  margin-bottom: 10px

  &.synth
    color: $green
  &.sample
    color: $blue
  &.faded
    opacity: 0.3
  &.used
    opacity: 0.3
  &:hover
    cursor: move

.scrollview
  overflow-x: hidden
  overflow-y: scroll

.sources
  &:first-child
    margin-top: 15px

.folder
  margin-top: 15px
  &:first-child
    margin-top: 15px
  .name
    color: $white
    font-size: 16px
  .items 
    min-height: 50px

ul[dnd-list], ul[dnd-list] > li
    position: relative

.trash
  width: 100%
  height: 500px
  background-color: $grey
  opacity: 0

.freespaceContainer
  position: fixed
  // background-color: red
  padding-left: 28px
  padding-right: 28px
  bottom: 0
  left: 0
  width: 100%
  height: 120px