$black: #202020;
$white: #FFFFFF;
$grey: #929292;
$faded: rgba(255,255,255,0.5);

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

html,body {
  background-color: $black;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}
// injector
@import 'main/main.sass';
@import '../components/navbar/navbar.sass';
// endinjector
