$black: #202020;
$white: #FFFFFF;
$grey: #929292;
$green: #81BB84;
$blue: #7389C3;
$faded: rgba(255,255,255,0.5);

html,body {
  background-color: $black;
  font-family: "Avenir-Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

// Fix window, don't allow draggables to resize it
body {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
}

// disable selection on all elements, and use the default cursor everywhere
* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;

    &:hover {
      cursor: default;
    }
}


// injector
@import 'fonts.scss';
@import 'main/main.sass';
@import '../components/filters/filters.sass';
@import '../components/navbar/navbar.sass';
@import '../components/freespace/freespace.sass';
// endinjector
